*
	border: none
	margin: 0
	padding: 0
/*Opera Fix*/
body:before
	content: ""
	height: 100%
	float: left
	width: 0
	margin-top: -32767px
body
	font-size: 16px
body, html
	height: 100%
header
	height: $header-height
footer
	height: $footer-height
	margin-top: -($footer-height)
	position: relative
#wrap
	min-height: 100%