@import "mixins"
@import "parameter"
@import "variables"
@import "fonts"
@import "font-awesome"
@import "defaults"
@import "media-query-480"
@import "media-query-640"
@import "media-query-960"
@import "media-query-1024"
@import "media-query-1366"

h1, h2, h3, h4, h5, h6
	color: $title-color
	font-family: $title-font
h1
	font-size: $title-level1
h2
	font-size: $title-level2
h3
	font-size: $title-level3
h4
	font-size: $title-level4
h5
	font-size: $title-level5
h6
	font-size: $title-level6
